<b>
About Halfmakery.
</b>
<br />
<p><b>What is Halfmakery?</b></p>

<ul>
<li> Is a place to fund half-baked ideas with cryptocurrencies such as bitcoin, litecoin, etc.
<li> Is a place to come up with approaches and tasks to accomplish, and try working on them.
<li> Is a place to give constructive suggestion or advice, and give free collaboration.
</ul>

<p><b>What Halfmakery is not?</b></p>
<ul>
<li> Is not a place to discuss or debate ideas. Please, visit www.halfbakery.com for that.
<li> Is not a place to expect finalization of projects. After all, it's just "half" makery.
<li> Is not a place to demand others work on a project.
</ul>

<p><b>How Halfmakery Works?</b></p>

<p>An idea is usually an abstract concept. For example, "place four wheels, attach a platform and a motor, a steering wheel" to get a car. There are many ways to realize it. The wheels can be chopped from wood, the platform too. The approach is defined by a goal -- is it to just try out the concept, or to create a consumer-ready design?</p>

<b>
<ul>
<li> <u>Idea</u>, implemented by its <u>Description</u>, and <u>References</u>.
     <ul> 
     <li> <u>Approach</u>, justified by a <u>Goal</u>, defined by a <u>Description</u> and implemented by <u>Milestones</u>.
     </ul>
</ul>
</b>

<p>Ideas in Halfmakery are simply classifiers for approaches. So, nobody owns ideas. However, since there is a great number of ideas, we can't possibly add all possible ideas, and therefore you are free to add them, when you don't know where to classify your approach. Ideas are reviewed by our staff, and merged if equivalent. You own your approach, not an idea. However, since there can be so many of ideas, we categorize them by category and subcategory</p>

<b>
<ul>
<li> <u>Category</u>, implemented by its <u>Name</u> and <u>Subcategories</u>.
     <ul> 
     <li> <u>Subcategory</u>, implemented by a <u>Name</u>.
         <ul>
         <li> <u>Idea</u> ...
         </ul>
     </ul>
</ul>
</b>

<p>You only choose the category and subcategory when you are adding an idea.</u>

<p>Anyway, once you have an approach with milestones, you are a project manager. You are free to add new tasks, and everyone is free to add tasks by adding them to your milestones. Each task can have links, as proofs of work. Each link to a proof of work has a donation amount, and link to history, which looks like a small log of the task progress, proving that the work was actually done by the user. After reviewing a proof of work, and associated history, and the total amount donated for the task so far, a user may decide, was the task underfunded or not, and make or not make extra donation. It is these histories that can have comments, potentially with monetary value attached. The displayed donation amount is the sum of the donations attached to the comments of the history associated with the proof of work.</p>

<b>
<ul>
<li> <u>Approach</u>, is executed by adding <u>Tasks</u> under <u>Milestones</u>.
     <ul>
     <li> <u>Task</u>, is defined by its <u>Description</u> and proven by adding <u>Links</u>
         <ul>
         <li> <u>Link</u>, is proven by associating a <u>History</u>.
             <ul>
             <li> <u>History</u>, is implemented by a set of <u>Page</u> with <u>Comments</u>.
                 <ul>
                 <li> <u>Page</u>, is implemented as <u>Title</u> and <u>Contents</u>.
                 <li> <u>Comment</u>, is implemented as <u>Text</u> and <u>TransactionID</u>, and <u>CryptoCurrencyID</u>.
                 </ul>
             </ul>
         </ul>
     </ul>
</ul>
</b>


<p>For the transaction IDs to be accepted, the users will have to write their wallet IDs on their profiles, so:</p>

<b>
<ul>
<li> <u>User</u>, is implemented as <u>Username</u>, <u>Password</u>, and <u>Wallets</u>.
    <ul>
    <li> <u>Wallet</u>, is implemented as pairs of <u>Address</u> and <u>CurrencyID</u>.
    </ul>
</ul>
</b>

<p>The donation counts, if the transaction is directed to one of the <u>User</u>, and is made from another <u>User</u>.</p>

<p><b>So, What Is the Halfmakery Approach?</b></p>

<b><u>Approach:</u></b>
<ul> 
    <li> <b><u>Goal:</u></b> to make a production-ready site for Halfmakery defined in the above idea.
    <li> <b><u>Description:</u></b> the approach is to use Django on RHCloud, which provides scalable PaaS.
    <li> <b><u>Milestones:</u></b>
        <ol>
            <li>[o] Buy Halfmakery.com, try starting a project with RHCloud.
            <li>[o] Learn how to have development environment locally, while pushing changes remotely. 
            <li>[o] Figure out needed entities.
            <li>[o] Add user registration.
            <li>[o] Create models for each entity needed.
            <li>[=] Add views and associated templates to implement the creation, editing and deletion of each entity.
            <li>[=] Make sure to add security where needed, such as registration.
            <li>[=] Make the template look nice for mobile phones and desktops.
            <li>[=] Import this very own project.
            <li>[=] Invite some CryptoCurrency friends and Halfbakers to test it out.
            <li>[=] Make it work with a different database [https://www.openshift.com/blogs/rapid-python-and-django-app-deployment-to-the-cloud-with-a-paas]
            <li>[=] Improve on integration with GitHub, VIM, provide API...
</ul>

<b><u>Tasks:</u></b>
<ol>
<li>Install 'django-registration',
<li>Install 'django-registration-defaults',
</ol>

<b><u>Histories:</u></b>

<p>-1. To start developing, 
<p>0. To change user password, I used http://www.xubuntix.org/weblog/2013/07/what-do-when-you-forgot-django-admin-password-open .</p>
<p>1. Just installed the django-registration. Now I see no templates and views and urls. I need at least templates.</p>
<p>2. Now, just follwed https://github.com/yourcelf/django-registration-defaults and installed the templates. I still need urls and views.</p>
<p>2. Now, actually just added the app 'registration_defaults' to INSTALLED_APPS, then included url(r'^accounts/', include('registration.backends.default.urls')), into urls.py, and the from registration.views import RegistrationView, ActivationView into views.py, and it worked~ :) the http://127.0.0.1:8000/accounts/register/ showed up.</p>
<p>2. For the login to work, removed the quotes from the 'auth_login' in the template /home/mi/.virtualenvs/venv/local/lib/python2.7/site-packages/registration_defaults/templates/registration/login.html in line 12, and reviewed to remove in other places, because according to http://stackoverflow.com/questions/10358929/url-gives-me-noreversematch-error-while-reverse-returns-the-url-just-fin @ahmoo, the quotes are only needed in django 1.5, whereas I currently use 1.4 in RHCloud.</p>
<p>2. For testing, I needed e-mail'ing, so I referred to http://stackoverflow.com/questions/5802189/django-errno-111-connection-refused </p>
<p>2. To make activation work, changed the url in activation_email.txt template /home/mi/.virtualenvs/venv/local/lib/python2.7/site-packages/registration_defaults/templates/registration_defaults/templates/registration/activation_email.txt into http://{{ siteurl }}/accounts/activate/{{ activation_key }}/</p>
<p>2. To have a redirect to main page after logging in, added LOGIN_REDIRECT_URL='/' to settings.py</p>
<p>2. To have logged in user show up, in the views, added from django.template import RequestContext, and in the view functions, added ,context_instance=RequestContext(request), and in the template, added {% if user.is_authenticated %}logout{% else %}login{% endif %}.</p>
<p>2. Added automatic redirect [meta http-equiv="refresh" content="10; URL=/"] to the main page after a few seconds from the page /accounts/logout/, by editing /home/mi/.virtualenvs/venv/local/lib/python2.7/site-packages/registration_defaults/templates/registration_defaults/templates/registration/logout.html</p>
<p>2. Check weather it would all work, after I push it to Git, and Jenkins? Will Jenkins be smart enough to install the django libs, or will I have to logon to server? Will I have to make the corrections I did also in the server?</p>
<p>Since it failed due to lack of module 'registration',... I assume we need to go and manually install it. I guess, to install the libs, I'll again have to use similar pattern to this: http://www.xubuntix.org/weblog/2013/07/what-do-when-you-forgot-django-admin-password-open  (i.e., activate virtualenv before installing), pip install django-registration, pip install django-registration-defaults, and then I had to do all the changes I did above, but to the /var/lib/openshift/.........................../python/virtenv/lib/python2.7/site-packages/registration_defaults/templates/registration/ files, like login.html.</p>
<p>Of course, have to also configure e-mail with RHCloud in settings.py.</p>

<p>Something to consider simple, e-mail'less sign-up: https://bitbucket.org/ubernostrum/django-registration/src/tip/docs/simple-backend.rst</p>
<p>Did python manage.py syncdb, and IMMEDIATELY after it, python manage.py convert_to_south halfmakery. It is very important, that we don't add any extra fields in between syncdb and migrate, as pointed out: App 'halfmakery' converted. Note that South assumed the application's models matched the database
(i.e. you haven't changed it since last syncdb); if you have, you should delete the halfmakery/migrations
directory, revert models.py so it matches the database, and try again.</p>
<p>Then ran ./manage.py migrate myapp 0001 --fake on every machine that has codebase................... Awww.. and expecting that if I add extra fields, finally the South will recognize and migrate them. Yup, I'll have to install South also on the RHC.</p>
<p>Trying out the schema, will it work for me to define all the stuff that I had worked on so far?</p>


<b><u>Entities</u></b>

<pre>
Category
 - Id
 - Name [ShortText 55]

Subcategory
 - Id
 - Name [ShortText 255]

Idea
 - Id
 - ForeignKey(Category)
 - ForeignKey(Subcategory)
 - Name [ShortText 55]
 - Description [MediumText 4096]

IdeaLink (Reference)
 - Id
 - ForeignKey(Idea)
 - Title [ShortText 255]
 - Summary [ShortText 255]
 - URL [MediumText 4096]

Approach
 - Id
 - ForeignKey(Idea)
 - Name [ShortText 255]
 - Description [MediumText 4096]

Milestone
 - Id
 - ForeignKey(Approach)
 - Priority
 - Name [ShortText 255]
 - Description [MediumText 4096]

Task
 - Id
 - ForeignKey(Milestone)
 - PriorityOrderId [Integer]
 - Name [ShortText 255]
 - Description [ShortText 255]

TaskLink (Link)
 - Id
 - ForeignKey(Task)
 - Title [ShortText 255]
 - Comment [ShortText 255]
 - URL [MediumText 4096]

Page
 - Id
 - ForeignKey(Task)
 - Title [ShortText 255]
 - Contents [LongText 65536]

PageComment
 - Id
 - ForeignKey(Page)
 - ForeignKey(Currency)
 - Text [MediumText 4096]
 - TransactionTxt [ShortText 255]

Wallet
 - Id
 - ForeignKey(User)
 - ForeignKey(Currency)
 - Address [ShortText 255]

Currency
 - Id
 - Name [ShortText 55]
 - Code [TinyText 3]

MilestoneVote
 - Id
 - ForeignKey(Milestone)
 - Value [Integer]

TaskVote
 - Id
 - ForeignKey(Task)
 - Value [Integer]
</pre>

<b><u>Further Tasks, for Views/Templates</u></b>

<p>The most straightforward way to go that I see, is to write out the list of <b><u>Actions</u></b> that I will need regarding each object, and consistently work on each action, by writing the view to process that action. Here's the list of tasks in order of my preference.</p>

<ol>
<li>Add/Edit/View Approach (this should include all capabilities of adding its class -- <b><u>Category</u></b>, <b><u>Subcategory</u></b>, <b><u>Idea</u></b>)
<li>Remove Approach (logically, this should delete the approach name, milestone names, and the author's tasks, their pages and comments. However, the other users' created tasks should remain, organized by nameless approach and milestones, and have their pages and comments. Category, Subcategory, Idea should remain.
<li>Add/Edit/View Milestone to an Approach.
<li>Remove Milestone (logically, this should delete the milestone name and the author's tasks, their attempts and comments. However, if there were other users' tasks under the milestone, they should remain organized under the nameless milestone, and have their pages and comments in-tact.
<li>Add/Edit/View Task to Milestone.
<li>Remove Task (logically, this should delete the task name and author's tasks, their attempts and comments. However, if there were other users' attempts under the task, they should remain organized under the nameless task, and have their comments and links in-tact.
<li>Add/Edit/View Attempt.
<li>Remove Attempt (this would remove all content from the attempt -- comments, except for comments with valid transactions -- usres can't lie that they had not received donations)
<li>Add/Edit/View Link.
<li>Remove Link.
<li>Add/Edit/View Comment.
<li>Remove Comment.
<li>Add/Edit/View Address.
<li>Remove Address.
<li>Add/Edit/View Milestone Vote. (setting to zero equals deletion)
<li>Add/Edit/View Task Vote. (setting to zero equals deletion)
<li>Create User.
<li>Edit User.
<li>Delete User. (deleting a user would delete all the user's content, leaving just placeholders and classifiers, Category, Subcategory, Idea)
</ol>

<p><u><b>Draw the forms first?</b></u></p>

<p>The person should be able to search for an idea to assign approach to, by browsing the ideas in the "Add Approach" page.</p>

<p>But at most times, the idea won't be there, so, the person will have to add it.</p>

<p>So, I'll need some querying from database.... However, if we preload only the idea names, it should be fine. 100K names, is just like 5MB, we have fast speeds of internet by that time...</p>

<p>Start from manually writing a form...</p>

Starting from: Basic Django form in forms.py
<pre>
from django import forms
class ApproachForm(forms.Form)
    name = form.CharField(_('Name'), required=True)
</pre>

And the view for it, in views.py:

<pre>
from halfmakery.forms import *

def edit_approach(request, template_name='halfmakery/approach.html'):
    if request.method == 'POST':
        form = ApproachForm(request.POST)
        if form.is_valid():
            print 'Good'
            return redirect('/')


<p>OK. So I now consider that in order to realize my forms, I'd need to use something like</p>

<pre>
django-autocomplete-light
django-ajax-filtered-fields
django-selectable ?

Looking at https://www.djangopackages.com/grids/g/auto-complete/ there is only one that supports my use case.
</pre>


Chained Selection:

https://django-selectable.readthedocs.org/en/version-0.7.0/advanced.html#chained-selection

Cool!! It works.

<p>Now, here are several other thoughts about it all:</p>

<p>1) Eventually, I should make a Rest API, so that people could easily add these public tasks into their task management systems.</p>

<p>2) Eventually, I should make a Rest API, so that the trading platforms could easily use these ideas as some kind of stocks, but unlike ordinary stocks, one could drill-down to the task-attempt level, and invest with that granularity. If the trading algorithms were to be applied to this granularity, they should evolve into A.I. planning algorithms.</p>




