<b>
About Halfmakery.
</b>
<br />
<p><b>What is Halfmakery?</b></p>

<ul>
<li> Is a place to fund half-baked ideas with cryptocurrencies such as bitcoin, litecoin, etc.
<li> Is a place to come up with approaches and tasks to accomplish, and try working on them.
<li> Is a place to give constructive suggestion or advice, and give free collaboration.
</ul>

<p><b>What Halfmakery is not?</b></p>
<ul>
<li> Is not a place to discuss or debate ideas. Please, visit www.halfbakery.com for that.
<li> Is not a place to expect finalization of projects. After all, it's just "half" makery.
<li> Is not a place to demand others work on a project.
</ul>

<p><b>How Halfmakery Works?</b></p>

<p>An idea is usually an abstract concept. For example, "place four wheels, attach a platform and a motor, a steering wheel" to get a car. There are many ways to realize it. The wheels can be chopped from wood, the platform too. The approach is defined by a goal -- is it to just try out the concept, or to create a consumer-ready design?</p>

<b>
<ul>
<li> <u>Idea</u>, implemented by its <u>Description</u>, and <u>References</u>.
     <ul> 
     <li> <u>Approach</u>, justified by a <u>Goal</u>, defined by a <u>Description</u> and implemented by <u>Milestones</u>.
     </ul>
</ul>
</b>

<p>Ideas in Halfmakery are simply classifiers for approaches. So, nobody owns ideas. However, since there is a great number of ideas, we can't possibly add all possible ideas, and therefore you are free to add them, when you don't know where to classify your approach. Ideas are reviewed by our staff, and merged if equivalent. You own your approach, not an idea. However, since there can be so many of ideas, we categorize them by category and subcategory</p>

<b>
<ul>
<li> <u>Category</u>, implemented by its <u>Name</u> and <u>Subcategories</u>.
     <ul> 
     <li> <u>Subcategory</u>, implemented by a <u>Name</u>.
         <ul>
         <li> <u>Idea</u> ...
         </ul>
     </ul>
</ul>
</b>

<p>You only choose the category and subcategory when you are adding an idea.</u>

<p>Anyway, once you have an approach with milestones, you are a project manager. You are free to add new tasks, and everyone is free to add tasks by adding them to your milestones. Each task can have links, as proofs of work. Each link to a proof of work has a donation amount, and link to history, which looks like a small log of the task progress, proving that the work was actually done by the user. After reviewing a proof of work, and associated history, and the total amount donated for the task so far, a user may decide, was the task underfunded or not, and make or not make extra donation. It is these histories that can have comments, potentially with monetary value attached. The displayed donation amount is the sum of the donations attached to the comments of the history associated with the proof of work.</p>

<b>
<ul>
<li> <u>Approach</u>, is executed by adding <u>Tasks</u> under <u>Milestones</u>.
     <ul>
     <li> <u>Task</u>, is defined by its <u>Description</u> and proven by adding <u>Links</u>
         <ul>
         <li> <u>Link</u>, is proven by associating a <u>History</u>.
             <ul>
             <li> <u>History</u>, is implemented by a set of <u>Page</u> with <u>Comments</u>.
                 <ul>
                 <li> <u>Page</u>, is implemented as <u>Title</u> and <u>Contents</u>.
                 <li> <u>Comment</u>, is implemented as <u>Text</u> and <u>TransactionID</u>, and <u>CryptoCurrencyID</u>.
                 </ul>
             </ul>
         </ul>
     </ul>
</ul>
</b>


<p>For the transaction IDs to be accepted, the users will have to write their wallet IDs on their profiles, so:</p>

<b>
<ul>
<li> <u>User</u>, is implemented as <u>Username</u>, <u>Password</u>, and <u>Wallets</u>.
    <ul>
    <li> <u>Wallet</u>, is implemented as pairs of <u>Address</u> and <u>CurrencyID</u>.
    </ul>
</ul>
</b>

<p>The donation counts, if the transaction is directed to one of the <u>User</u>, and is made from another <u>User</u>.</p>

<p><b>So, What Is the Halfmakery Approach?</b></p>

<b><u>Approach:</u></b>
<ul> 
    <li> <b><u>Goal:</u></b> to make a production-ready site for Halfmakery defined in the above idea.
    <li> <b><u>Description:</u></b> the approach is to use Django on RHCloud, which provides scalable PaaS.
    <li> <b><u>Milestones:</u></b>
        <ol>
            <li>[o] Buy Halfmakery.com, try starting a project with RHCloud.
            <li>[o] Learn how to have development environment locally, while pushing changes remotely. 
            <li>[o] Figure out needed entities.
            <li>[=] Add user registration.
            <li>[=] Create models for each entity needed.
            <li>[=] Add views and associated templates to implement the creation, editing and deletion of each entity.
            <li>[=] Make sure to add security where needed, such as registration.
            <li>[=] Make the template look nice for mobile phones and desktops.
            <li>[=] Import this very own project.
            <li>[=] Invite some CryptoCurrency friends and Halfbakers to test it out.
</ul>
