{% extends "base.html" %}
{% block sidebar %}
{% include 'home/sidebar_inc.html' %}
{% endblock %}
{% block content %}

<p><b>What's new at Halfmakery?</b></p>

<div><div><b>Aug 17 2014</b></div>
<p>Working on what's called <a href="/approach/8">/approach/8</a>.</p>
<p>Some day, it will get a human-readable alias under <a href="">/plan</a> directory. The word "plan" is as short as the word "idea", and is convenient. It's also a term in the field of AI planning, the methodology of which I would love to use for auto-suggesting plans for realization of ideas, once there are many human-generated plans to learn from.</p>
</div>

{% endblock %}
