<center><a href="/"><img src="/media/hm.gif"></a></center>

<div>

<span class="title">h a l f m a k e r y</span><br/>
"Acting side of thinking."

</div>

{% if user.is_staff %}
<p><strong>admin:</strong> <a href="/admin">django</a></p>
{% endif %}

<p><strong>plan:</strong> <a href="/plan/">add</a>, search, overview, recent, by name, random</p>
<p><strong>meta:</strong> <a href="/news/">news</a>, help, <a href="/about/">about</a>, links, <a href="https://github.com/Mindey/Halfmakery/commits/master">source code</a></p>
<p><strong>account:</strong> {% if user.is_authenticated %}
<p><a href="/user/{{ user.id }}">{{ user.username }}</a> [<a href="/accounts/logout/">logout</a>]</p>
{% else %}
browse anonymousely, or get an account and write.
<form method="post" action="/accounts/login/">{% csrf_token %}
<table>
<tr>
    <td><label for="id_username">user:</label></td>
    <td><input id="id_username" type="text" name="username" maxlength="30" size="8" /></td>
</tr>
<tr>
    <td><label for="id_password">pass:</label></td>
    <td><input type="password" name="password" id="id_password" size="8" /></td>
</tr>
</table>

<a href="/accounts/register/">register</a>, <input type="submit" value="login" class="login"/>
<input type="hidden" name="next" value="" />
</form>
<div>
<p>
</p>
</div>
{% endif %}
