{% extends 'base.html' %}
{% block content %}

<a href="/"><<</a>
{{ valid }}
<div align="right">{% if user.id == approach.user.id %}[<a href="#edit">edit</a>, <a href="{{form_action}}/delete">delete</a>]{% endif %}</div>

<div>
<h1>{{ approach.idea.name }}</h1>
<h2>The <i>{{ approach.name }}</i> Approach</h2>
<h3>{{ approach.goal }}</h3>
<pre>
{{ approach.sketch }}
</pre>
</div>

{% if user.id == approach.user.id %}
  <a name="edit"></a><form method="POST" action="{{form_action}}?target=content">
  {% csrf_token %}
  <table>
  {{ form }}
  </table>
  <input type="submit" value="Save it!">
  </form>
{% endif %}

{% if user.id == approach.user.id %}<style>li { cursor: all-scroll; }</style>{% endif %}
<ol id="todo">
  {% for milestone, count in milestones %} 
  <li id="todo-{{ milestone.id }}">
      <div class="todo-content">
          <div class="todo-header">
          <a name="{{milestone.id}}"><b>{{ milestone.name }}</b></a> [<a href="{{form_action}}/milestone/{{milestone.id}}">{{count}} tasks</a>{% if user.id == approach.user.id %}, <a href="{{form_action}}/milestone/{{milestone.id}}">edit</a>, <a href="{{form_action}}/milestone/{{milestone.id}}/delete">delete</a>{% endif %}]
          </div>
          <div class="todo-description">
              <p>{{milestone.details}}</p>
          </div>
      </div>
  </li>
  {% endfor %}
</ol>

{% if milestones_limit_reached %}
 Maximum number of milestones reached.
{% else %}

{% if user.id == approach.user.id %}
Add Milestones to define the approach.
<form method="POST" action="{{form_action}}/milestone">
{% csrf_token %}
<table>
{{ milestone_form }}
</table>
<input type="submit" value="Add it!">
</form>
{% endif %}
<div align="right"><a href="/user/{{approach.user.id}}">{{approach.user.username}}</a>, {{approach.created_at|date:"M d Y"}}</div>
{% endif %}
{% endblock %}
{% block comments %}
hihi, these are approach comments
{% include 'halfmakery/comments_inl.html' %}
{% if info == 'invalid_txid' %}<p><font color="red">Invalid txid. Try again.</font></p>{% endif %}
{% if info == 'used_txid' %}<p><font color="red">Used txid. Try different one, or delete a comment to reuse its txid.</font></p>{% endif %}
{% endblock %}
