{% extends 'base.html' %}
{% block content %}
<a href="/"><<</a>
{{ valid }}
<div align="right">{% if user.id == approach.user.id %}[<a href="#edit">edit</a>, <a href="{{form_action}}/delete">delete</a>]{% endif %}</div>

<div>
<h1>{{ approach.name }}</h1>
<h2>{{ approach.goal }}</h2>
<pre>
{{ approach.sketch }}
</pre>
</div>

{% if user.id == approach.user.id %}
  <a name="edit"><form method="POST" action="{{form_action}}">
  {% csrf_token %}
  <table>
  {{ form }}
  </table>
  <input type="submit" value="Save it!">
  </form>
{% endif %}

<ol id="todo">
  {% for milestone in milestones %} 
  <li id="todo-{{ milestone.id }}">
      <div class="todo-content">
          <div class="todo-header">
          <a name="{{milestone.id}}" href="{{form_action}}/milestone/{{milestone.id}}">{{ milestone.name }}</a> {% if user.id == approach.user.id %} [<a href="{{form_action}}/milestone/{{milestone.id}}">edit</a>, <a href="{{form_action}}/milestone/{{milestone.id}}/delete">delete</a>] {% endif %}
          </div>
          <div class="todo-description">
              <p>{{milestone.details}}</p>
          </div>
      </div>
  </li>
  {% endfor %}
</ol>

{% if milestones_limit_reached %}
 Maximum number of milestones reached.
{% else %}

{% if user.id == approach.user.id %}
Add Milestones to define the approach.
<form method="POST" action="{{form_action}}/milestone">
{% csrf_token %}
<table>
{{ milestone_form }}
</table>
<input type="submit" value="Add it!">
</form>
{% endif %}
<div align="right"><a href="/user/{{approach.user.id}}">{{approach.user.username}}</a>, {{approach.created_at|date:"M d Y"}}</div>
{% endif %}
{% endblock %}
{% block comments %}
hihi, these are approach comments
{% include 'halfmakery/comments_inl.html' %}
{% endblock %}
