{% load coin_tags %}
<span>
{% for comment in comments %}
  <div>
  {% if comment.id == edit_comment_id %}                                            
  <form method="POST" action="{{form_action}}"><table>{{ comment_editing_form }}<input type="submit" value="Save"></table></form>
  {% else %}
  <p>
  <br>{{ comment.text }}<br>
  <span align="right">--<a href="/user/{{comment.user.id}}">{{comment.user.username}}</a></span>, {{comment.created_at|date:"M d Y"}} [{% if comment.user.id == user.id %}<a href="{{form_action}}?comment={{ comment.id }}">edit</a>, {% endif %} <b><a href="https://blockchain.info/tx/{{comment.txid}}" target="_blank">{% coin comment.satoshis %} {{ comment.currency }}</a></b> > {% for recipient in comment.recipients.all %}<a href="/user/{{recipient.id}}">{{recipient.username}}</a>{%endfor%}]
  </p>
  {% endif %}
  </div>
{% endfor %}
</span>

{% if not edit_comment_id %}
Add new comment
  <form method="POST" action="{{form_action}}/comment" name="comment">{% csrf_token %}<table>{{ comment_editing_form }}</table><input type="submit" value="Post it!"></form>
{% endif %}
<p>{% if user.is_authenticated %}{% else %}<a href="/accounts/login">Log in</a> to annotate.{% endif %}</p>
{% if info == 'invalid_txid' %}<p><font color="red">Invalid txid. Try again.</font></p>{% endif %}
{% if info == 'used_txid' %}<p><font color="red">Used txid. Try different one, or delete a comment to reuse its txid.</font></p>{% endif %}

