{% load coin_tags %}
<span>
{% for comment in comments %}
  <div>
  {% if comment.id == edit_comment_id %}                                            
  <form method="POST" action="{{form_action}}"><table>{{ comment_editing_form }}<input type="submit" value="Save"></table></form>
  {% else %}
  <p>[ <b>{% coin comment.satoshis %}</b> -> {% for recipient in comment.recipients.all %}<a href="/user/{{recipient.id}}">{{recipient.username}}</a>{%endfor%}]
  <br>{{ comment.text }}<br>
  <span align="right">--<a href="/user/{{comment.user.id}}">{{comment.user.username}}</a></span>, {% if comment.user.id == user.id %}[<a href="{{form_action}}?comment={{ comment.id }}">edit</a>]{% endif %}
  </p>
  {% endif %}
  </div>
{% endfor %}
</span>

{% if not edit_comment_id %}
Add new comment
  <form method="POST" action="{{form_action}}/comment" name="comment">{% csrf_token %}<table>{{ comment_editing_form }}</table><input type="submit" value="Post it!"></form>
{% endif %}

