{% extends "base.html" %}
{% block sidebar %}
{% include 'home/sidebar_inc.html' %}
{% endblock %}
{% block content %}
Add New Idea:
<form method="POST" action="{{form_action}}">
{% csrf_token %}
<table>
{{ form }}
</table>
<p><i>To add an idea outside of halfbakery.com, enter a valid txid to any of the <a href="/staff">staff member</a> addresses to the txid field.</i></p>
<input type="submit" value="Submit">
</form>

<ul>
{% for idea in ideas %}
<li> {{idea.id}}, {{idea.category.name}}:{{idea.subcategory.name}}:{{idea.name}} {% if idea.user.id == user.id %} [<a href="/idea/{{idea.id}}/delete">delete</a>] {% endif %}
{% endfor %}
</ul>
{% endblock %}
