{% extends 'base.html' %}
{% block content %}
<a href="{{return_link}}"><<</a>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<form method="POST" action="{{form_action}}">
{% csrf_token %}
<table>
{{ form }}
</table>
<input type="submit" value="Submit">
</form>

<p><b>Tasks and attempts</b></p>
<ul>
{% for task in tasks %}
<li><a href="{{form_action}}/task/{{task.id}}">{{ task }}</a> [<a href="{{form_action}}/task/{{task.id}}/delete">delete</a>]
{% endfor %}
</ul>

<p><b>Add Tasks to yourself and others to attempt.</b></p>
<form method="POST" action="{{form_action}}/task">
{% csrf_token %}
<table>
{{ task_form }}
</table>
<input type="submit" value="Submit">
</form>
{% endblock %}
{% block comments %}
hihi, these are milestone comments
{% endblock %}
