{% extends 'base.html' %}
{% block content %}
<a href="{{return_link}}"><<</a>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<h1>{{milestone.name}}</h1>
{{milestone.details}}
<div align="right">--<a href="/user/{{attempt.user.id}}">{{milestone.user.username}}</a>, {{milestone.created_at|date:"M d Y"}}</div>

{% if user.id == milestone.user.id %}
<form method="POST" action="{{form_action}}?target=content">
{% csrf_token %}
<table>
{{ form }}
</table>
<input type="submit" value="Submit">
</form>
{% endif %}

<p><b>Tasks</b></p>
<ul>
{% for task, count in tasks %}
<li>{{ task }} [<a href="{{form_action}}/task/{{task.id}}">{{count}} attempts</a>{% if user.id == task.user.id %}, <a href="{{form_action}}/task/{{task.id}}">edit</a>, <a href="{{form_action}}/task/{{task.id}}/delete">delete</a>{% else %}, by {{ task.user.username }}{% endif %}]
{% endfor %}
</ul>

<p><b>Add Tasks to yourself and others to attempt.</b></p>
<form method="POST" action="{{form_action}}/task">
{% csrf_token %}
<table>
{{ task_form }}
</table>
<input type="submit" value="Submit">
</form>
{% endblock %}
{% block comments %}
{% include 'halfmakery/comments_inl.html' %}
{% endblock %}
