<a href="{{return_link}}"><<</a>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<form method="POST" action="{{form_action}}">
{% csrf_token %}
<table>
{{ form }}
</table>
<input type="submit" value="Submit">
</form>

<p><b>Documenting attempts</b></p>
<ul>
{% for attempt in attempts %}
<li><a href="{{form_action}}/attempt/{{attempt.id}}">{{ attempt }}</a>
{% endfor %}
</ul>

<p><b>Add your attempt.</b></p>

<form method="POST" action="{{form_action}}/attempt">
{% csrf_token %}
<table>
{{ attempt_form }}
</table>
<input type="submit" value="Submit">
</form>
