{% extends 'halfmakery/halfmakery_base_tpl.html' %}
{% block content %}
<a href="{{return_link}}"><<</a>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<h1>{{ task.name }}</h1>
<font face="Courier New">
{{ task.description }}
</font>
<div align="right">--<a href="/user/{{attempt.user.id}}">{{task.user.username}}</a>, {{task.created_at|date:"M d Y"}}</div>

{% if user.id == task.user.id %}
<form method="POST" action="{{form_action}}?target=content">
{% csrf_token %}
<table>
{{ form }}
</table>
<input type="submit" value="Submit">
</form>
{% endif %}

<p><b>Documenting attempts</b></p>
<ul>
{% for attempt in attempts %}
<li>{{ attempt }} [<a href="{{form_action}}/attempt/{{attempt.id}}">{% if user.id == attempt.user.id %}edit{% else %}view{% endif %}</a>]
    <div align="right">--<a href="/user/{{attempt.user.id}}">{{attempt.user.username}}</a>, {{attempt.created_at|date:"M d Y"}}</div></li>
{% endfor %}
</ul>

<p><b>Add your attempt.</b></p>

<form method="POST" action="{{form_action}}/attempt">
{% csrf_token %}
<table>
{{ attempt_form }}
</table>
<input type="submit" value="Submit">
</form>
{% endblock %}
{% block comments %}
{% include 'halfmakery/comments_inl.html' %}
{% endblock %}
