<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="/media/style.css" media="screen"/>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    
    <!-- Needed for sending Ajax POST'ing to Django's CSFR Token -->
    <script>
    jQuery(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
    });
    </script>

    <!-- Needed for Drag-And-Drop sorting of a list. -->
    <script>
    $(function() {

    $( "#todo" ).sortable({
        'handle': '.todo-header',
        'update': function() {
            var order = $('#todo').sortable('serialize');
            $.post('/ajax/list/update/handler/', {
                'order': order,
                'level': {{level_id}}
            });
        }
    });

    $( "#todo" ).disableSelection();
    });

    </script>
   
    </head>

<body>
		
		<div class="container">			
		<table>
			<tbody>
			<tr>

			  <td>
				<div class="block-left">
					<div class="sidebar">
						<!--<center>[SIDEBAR]</center>-->
						<div class="block-sidebar">{% block sidebar %}{% endblock %}</div>
					</div>
				</div>
			  </td>

			  <td>
					<div class="block-right">
						
							<div class="header">
								<div class="comment">--[HEADER]--</div>
								{% block header %}{% endblock %}
							</div>

							<div class="main">
								<div class="comment">--[MAIN]--</div>
								{% if comments != None %}
								<div id="content-comments">
									<div id="content-main">
										{% endif %}
											{% block content %}{% endblock %}
										{% if comments != None %}
									</div>
									<!--<div id="all-coments">-->{% block comments %}{% endblock %}<!--</div>-->
								</div>
								{% endif %}
							</div><!--main-->
							
							<footer>
								<div class="comment" style="margin-bottom:20px;">--[FOOTER]--</div>
								{% block footer %}{% endblock %}
							</footer>
						
					</div><!--block-right-->
			  </td>
		    </tr>
		   </tbody>
		</table>

	  </div><!--container-->


    </body>
</html>
